apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: product-service:local  # 아까 빌드한 로컬 이미지
          imagePullPolicy: Never        # 중요! 로컬 이미지 사용 설정
          ports:
            - containerPort: 4000
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: LoadBalancer  # 로컬호스트에서 접근 가능하게 설정
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 4000      # 외부(로컬)에서 접근할 포트
      targetPort: 4000
